@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica,Verdana, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3) );
    text-align: center;
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
   
}


a.menu{
    color: var(--cor1);
    text-decoration: none;
    margin-left: 12px;
    transition-duration: .5s;
}
a.menu:hover{
    color: var(--cor4);
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 5px;
   
}

h4 {
    padding-top: 20px;
    color: white;
    font-size: 1.2em;
   max-width: 600px;/*quando coloca a larguma maxiam de 500 o h4 automaticamente vira um bloco*/
   margin: auto;
   padding-left: 10px;
   padding-right: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
    
}
nav{
  text-align: left;
   padding: 10px;
  
  
  
   
  
   padding-bottom: 10px;
    }
@media (max-width: 570px){
    h4{
        margin: 0;
    }
}

main{
   background-color: var(--cor1);
   
   }
   main img{
       width: 100%;
   }
   main img.pequena{
       width: 50%;
       display: block;
       margin: auto;
   }
  
 article{
    text-align: justify;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 1000px;
   min-width: 300px;
   margin: auto;
 }
      @media (max-width: 1060px) {
         article{
            margin: 0;
         }
    }
 .ir{
     width: 100%;
 }
 a.externa::after{
     content: '\00a0\1F517';

 }
  
 a.art{
     text-decoration: none;
     font-weight: bold;
     color: var(--cor4);
 }
 @font-face {
         font-family: 'IDroid';
         src: url('IDroid.otf') format('opentype'),url('IDroid Bold')format('opentype');
         font-weight: normal;
         font-style: normal;
         
     }
     h1{
     font-family: 'IDroid';
     color: var(--cor4) ;
     padding-top: 10px;
 }
h1.cabecalho {
     color: white;
     font-family: Arial, Helvetica, Verdana, sans-serif;
     padding-top: 65px;
     font-size: 3em;
     }
 p{
     text-indent: 20px;
     margin-top: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
     line-height: 2em;
 }
 h2{
     font-family: 'IDroid';
     color: var(--cor4);
     margin-top: 10px;
     padding-left: 5px;
     background-image: linear-gradient(to right,var(--cor1), #ffffff)
 }
 a.pv{
     background-color: var(--cor1);
     text-decoration: none;
     padding-left:  3px;
     padding-right: 10px;
 }
 /*.corl{
     color:var(--cor4);
     text-decoration: none;
 }*/
 aside#conteiner{
     text-align: center;
     background-color: #83e1ad;
     padding: 10px;
     border-radius: 10px;
     margin-top: 1px;
 }
 aside#conteiner h3{
     text-align: left;
     background-color: 
     var(--cor3);
     color:  white;
     padding: 6px;
     margin: -9px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }
 aside strong{
     color: var(--cor3);
 }
 aside h3{
     background-color: var(--cor4);
     padding: 10px;
     margin: -10px -10px 0px -10px;
     border-radius: 10px 10px 0px 0px;
     color: white;
 }
 aside a{
     color: var(--cor4);
     font-weight: bolder;
 }
 aside{
     background-color: var(--cor1);
     list-style-position: inside;
     border-radius: 10px;
     padding: 10px;
 }
 aside ul{
     columns: 2;
     list-style-type: '\2714\00a0\00a0';/*não é compativel com qualquer navegador*/
 }
 .bug{
     text-align: justify;
 }
 #video{
     background-color: var(--cor4);
     margin: 5px -10px 35px -10px;
    padding: 20px;
    padding-bottom: 65%;
    position: relative;
 }
 #video iframe{
     position: absolute;
     top: 5%;
     left: 5%;
     width: 90%;
     height: 90%;
 }
 
  .separar{
    
     display: grid;
     /*grid-column: 1/2;*/
     grid-template-columns: 500px 200px;
     grid-template-rows: 24px 24px 24px 24px 24px 24px 40px;
     text-align: justify;

     
 }
 p a{
     text-decoration: none;
     
 }
 p.txt{
    text-align: justify;
 }
 :root{
     --cor0: #c5ebd6;
     --cor1: #83e1ad;
     --cor2: #3ddc84; 
     --cor3: #2fa866;
     --cor4: #063d1e;
     --fonte-destaque:'Bebas Neue', cursive;

  }
  
  footer{
      text-align: center;
      background-color: var(--cor4);
      color: white;
  }
  footer a{
      text-decoration: none;
      color: white;
  }
  footer a:hover{
     color: var(--cor3);
     text-decoration: underline;
  }